adminUser: "{{ grafana_admin_user }}"
adminPassword: "{{ grafana_admin_password }}"

service:
  type: ClusterIP

dashboardProviders:
  dashboardproviders.yaml:
    apiVersion: 1
    providers:
      - name: default
        orgId: 1
        type: file
        disableDeletion: false
        editable: true
        options:
          path: /var/lib/grafana/dashboards/default

dashboards:
  default:
    node-exporter-full:
      gnetId: 1860
      revision: 37
      datasource: Prometheus
    loki-log-explorer:
      gnetId: 13639
      datasource: Loki

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        url: http://prometheus-server.kube-extra.svc.cluster.local
        isDefault: true
        access: proxy
      - name: Loki
        type: loki
        url: http://loki.kube-extra.svc.cluster.local:3100
        access: proxy

resources:
  requests:
    cpu: 50m
    memory: 256Mi
  limits:
    cpu: 200m
    memory: 512Mi

persistence:
  enabled: true
  storageClassName: local-path
  size: 2Gi

ingress:
  enabled: true
  ingressClassName: nginx
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
  hosts:
    - grafana.hl.mathielo.com
  tls:
    - hosts:
        - grafana.hl.mathielo.com
      secretName: grafana-tls
