# ~/.ssh/config file template
# Either copy it or create a symlink to it in ~/.ssh/config:
#  - cp ~/src/homelab/.config/ssh.config ~/.ssh/config
#  - ln -sf ~/src/homelab/.config/ssh.config ~/.ssh/config

# Use the 1Password agent to authenticate with all hosts
Host *
  IdentityAgent ~/.1password/agent.sock

# Specify which key to use for GitHub authentication
Host github.com
  IdentityFile ~/.ssh/github_1p_ssh.pub
  IdentitiesOnly yes

###
### UniFi Devices
###
### Connections to all of them are passwordless, using the 1Password agent
###

# UGC Max (UniFi Router)
Host UGCMax
  Hostname 10.10.1.1
  User root

# UNVR Instant
Host UNVR
  Hostname 10.10.1.2
  User root

# UNAS 4
Host UNAS
  Hostname 10.10.1.4
  User root

# Any other UniFi devices
Host 10.10.1.*
  User kiRKqamZxM
  StrictHostKeyChecking no

###
### Homelab Servers
###
### These are all set up via Ansible with passwordless auth (SSH key only)
###

# Pi-hole (AdBlocker)
Host pihole
  Hostname 10.10.53.53
  User m8hl

# k3s Servers
Host k3s-*
  User m8hl
Host k3s-srv-01
  Hostname 10.10.50.3
Host k3s-pi5-01
  Hostname 10.10.50.103
